<!-- <app-pipe-demo></app-pipe-demo> -->
<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <input type="text" [(ngModel)]="filterData" />
    </div>
    <div class="col-2">
      <button (click)="AddEmp()" class="btn btn-primary">AddEmployee</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 mt-5">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of employees | datafilter : filterData : 'information'">
          {{ item.name | uppercase }} &nbsp;
          {{ item.started | date : "fullDate" }} &nbsp;
          {{ item.skill | lowercase }} &nbsp;
          {{ item.information | shortsentence : 15 }}
        </li>
      </ul>
    </div>
  </div>

   <!-- Directives are classes that add new behavior or modify the existing behavior to the elements -->
<!-- 
   paragraph needs to behaviour like backgroundcolor red -->

   <!-- what ever element if i apply the basiccolor directive that should be contain the bg color is red -->
  <div>

    <!-- <p basicColor>Angular Custom Directive</p> -->


   

    <p [color]="'yellow'" appAdvancedcolor>Angular Custom Directive - Yellow</p>

    <p [color]="'red'" appAdvancedcolor>Angular Custom Directive - Red</p>

    <p [color]="'green'" appAdvancedcolor>Angular Custom Directive - Green</p>

    <!-- <input type="text" value="John" basicColor /> -->

  </div>
</div>
